<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.awinic.atouchdect">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".cali.activity_cali" />
        <activity android:name=".dbg.activity_dbg" />
        <activity android:name=".rtd.activity_rtd" />
        <activity android:name=".hw_check.activity_hw_check" />
        <activity android:name=".comm.activity_bt" />
    </application>

</manifest>